canvas {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 0;
}

.google-maps {
    display: none;
    position: relative;
    top: 136px;
    left: 53px;
}

#gm-place {
    z-index: 1;
}

#gm-directions {
    z-index: 2;
}

#overlay {
    z-index: 3;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}